<!DOCTYPE html>
        <html lang="en">
        <body style="font-family: Poppins, Arial, sans-serif">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" style="padding: 20px;">
                        <table class="content" width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: 1px solid #cccccc;">
                            <!-- Header -->
                            <tr>
                                <td class="header" style="background-color: #ff6b6b; padding: 40px; text-align: center; color: #ffffff; font-size: 24px;">
                                Reminder
                                </td>
                            </tr>

                            <!-- Body -->
                            <tr>
                                <td class="body" style="padding: 40px; text-align: left; font-size: 16px; line-height: 1.6;">
                                Bună, {{ username }}!<br>
                                <br><br>
                                Dorim să îți reamintim, pâna pe data de {{ date.day }}.{{ date.month }}.{{ date.year }}, trebuie să achiți cotizația de {{ cotizatie }} ron.<br>
                                Poți achita cotizația online, prin transfer bancar la iban-ul:<br>
                                IBAN RO38BTRLRONCRT0616164701<br>
                                </td>
                            </tr>

                            <!-- Site -->
                            <tr>
                                <td style="padding: 0px 40px 0px 40px; text-align: center;">
                                    <!-- CTA Button -->
                                    <table cellspacing="0" cellpadding="0" style="margin: auto;">
                                        <tr>
                                            <td align="center" style="background-color: #ff6b6b; padding: 10px 20px; border-radius: 5px;">
                                                <a href="https://webcreatorshub.ro/" target="_blank" style="color: white; text-decoration: none; font-weight: bold;">Web Creators Hub</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="body" style="padding: 40px; text-align: left; font-size: 16px; line-height: 1.6; text-align: right;">
                                    Vă mulțumim,<br>
                                    Web Creators Hub.      
                                </td>
                            </tr>
                            <!-- Footer -->
                            <tr>
                                <td class="footer" style="background-color: #ff6b6b; padding: 40px; text-align: center; color: white; font-size: 14px; text-decoration: none">
                                office@webcreatorshub.ro
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </body>
        </html>